<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Магазин оптики</title>
    <link rel="stylesheet"  th:href="@{/css/nav.css}" href="static/css/nav.css">
</head>
<body>
	<div class="header">
		<div class="wrapper">
			<div class="header_body">
				<ul class="nav1">
					<li><a href="">0 товаров</a></li>
					<li><a href="/auth/login">Войти</a></li>
					<li class="reg"><a href="/registration">Регистрация</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="second_header">
		<div class="wrapper">
			<div class="header_body">
				<div class="logo">
					<a href="">МАГАЗИН ОПТИКИ</a>
				</div>
				<ul class="nav2">
					<li><a href="">МЕДИЦИНСКИЕ ОЧКИ</a></li>
					<li><a href="">СОЛНЦЕЗАЩИТНЫЕ ОЧКИ</a></li>
					<li><a href="">КОНТАКТНЫЕ ЛИНЗЫ</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>