.about {
  h1, h2 {
    font-size: 30px;
    margin: 20px 0;
    color: #6c3451;
    text-align: center;
    display: block;
    font-family: "PT Sans", sans-serif;
  }

  p {
    margin: 0 0 10px;
  }
}