@import '../../../variables';

.item {
  border: 1px solid $gray-light-color;
  list-style-type: none;
  width: 245px;
  min-height: 38px;

  &:hover {
    cursor: pointer;
  }
}

.item-open {
  background-color: $magenta-color;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: $black;

  &:hover {
    color: $gray-color;
  }
}

.open {
  color: $white;

  &:hover {
    color: $white;
  }
}

.arrow-parent {
  width: 38px;
  height: 38px;
}

.arrow {
  display: block;
  width: 24px;
  height: 24px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(225deg);

  &-open {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    margin-top: 12px;
    transform: rotate(45deg);
  }
}

.submenu-list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    border-right: none;
  }
}